.browserTable{width:100%;margin-bottom:20px;}
.browserTable th{font-weight:bold;padding:8px;}
.browserTable td{padding:8px;border-top: 1px solid #ECEDEE;cursor: pointer;white-space: nowrap;}
.browserTable td a{text-decoration: none; color: #555;}
.browserTableStatus td{padding:0px; border-top: 0px; cursor: pointer;white-space: nowrap;}

.contentRowSelected {background: #E0E9F6;}
.contentRowRoller {background: #E0E9F6;}
.contentRowNotShowOnMenu {background: #EFEFEF;}

.assetRef {width: 100%; display: block;}

.nameTD{width: 30%;}
.menuTD{width: 5%;text-align: center;}
.statusTD{width: 8%;text-align: center;}
.descriptionTD{width: 30%;}
.modUserTD{width: 10%;}
.modDateTD{width: 17%;}
.nameTD img, .nameTD span {vertical-align: middle;}

/* if scolling, add these.. */
	#assetListHead{_padding-right: 0;}
/* end if scrolling */

ul, li {list-style: none;padding: 0;margin: 0;}
#TreeUL{color: #555;}
#TreeUL li li {padding: 10px 0 0 20px;}
#TreeUL img {border: 0;vertical-align: middle;}
#TreeUL a {cursor: pointer;color: black;}
#TreeUL span {cursor: pointer;}
.folderSelected {font-weight: bold;}
.nameChangeText {}
#popups{white-space:nowrap;}
	
/*Context menues */
div.contextPopupMenuBox{
	position: absolute;
	padding: 0;
	margin: 0;
	background-color: #fff;
	border-color: transparent transparent #ECEDEE transparent;
	border-style: solid;
	border-width: 0 0 1px 0;
  	color: #5B5B5B;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

div.contextPopupMenuBox a{display: block; height: 32px; padding: 8px 8px 0 16px; text-decoration: none; cursor: pointer; color: #555;}
div.contextPopupMenuBox a:hover{background-color: #fafafa; color: #555;}
div.contextPopupMenuBox a img{display: none;}

div.contextMenuHover {margin-left: 3px;}
.pop_divider{border-bottom: 1px dotted #c0c0c0; background-color: #fff;}
#newArrowHack {float: right;width: 16px;height: 16px;margin-right: 10px;background: url(/html/images/icons/arrow-000-medium.png);cursor: pointer;}
